  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p, a {font-size: 14px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #245e7e; 
    color: #d8e6ee;
  }
  .bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; 
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; 
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #31a4dd !important;
  }
  a {
    color: #2cb9ff;
  }
  a:hover {
    color: white;
  }
  .projects>a {
    color: #245e7e;
  }
  .projects>a:hover {
      color: #31a4dd;
  }